<p>Une souris verte</p>
<p>Qui courait dans l'herbe</p>
<p>Je l'attrape par la queue</p>
<p>Je la montre à ces messieurs</p>
<br>
<p>Ces messieurs me disent</p>
<p>Trempez-la dans l'huile</p>
<p>Trempez-la dans l'eau</p>
<p>Ça fera un escargot</p>
<p>Tout chaud</p>
<br>
<p>Je la mets dans un tiroir</p>
<p>Elle me dit qu'il fait trop noir</p>
<br>
<p>Je la mets dans mon chapeau</p>
<p>Elle me dit qu'il fait trop chaud</p>
<br>
<p>Je la mets dans ma culotte</p>
<p>Elle me fait trois petites crottes</p>
